@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Kanit:wght@200;500&family=Kumar+One&family=Oswald:wght@200&family=Rubik+Iso&family=Titillium+Web:wght@200&family=Victor+Mono:wght@100&family=Young+Serif&display=swap");

:root {
  --bg: #292b29;
  --text: #fff;
  --accent: #00aa4a;
  --secondary: #666;
  box-sizing: border-box;
}

body {
  font-size: 2.5vmin;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit";
  font-weight: 200;
  height: 100vh;
  width: 100vw;
}

.header-title {
  font-size: 1.25vmin;
  margin-top: -1.5vh;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  letter-spacing: 1px;
  margin: 0.5rem;
  font-family: "Kanit";
  font-weight: 500;
}

h1 span {
  opacity: 0.5;
  font-weight: 200;
}

button {
  font-family: inherit;
}

#logo {
  height: 3vh;
  /* margin-top: 4vh; */
}

.chat-window {
  position: relative;
}

#chat-messages {
  max-height:100%;
  overflow:auto;
  /* margin-top: 10vh; */
  width: 80%;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2vh 2vw 2vw 3vw;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  line-height: 1.2;
}

.message.answer * {
  visibility: hidden;
}

.message.answer .visible {
  visibility: visible;
}

.message p,
.message h2 {
  margin: 0;
}

.question {
  align-items: flex-end;
}

.message h2 {
  font-size: 2vmin;
  font-weight: 400'
}

h2.answer {
  color: var(--accent);
}

.chat-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 7%;
  bottom: 6%;
}

.input-submit {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
input {
  width: 70vw;
  padding: 0.75rem;
  border-radius: 15px;
  border: 0;
  flex-grow: 1;
}

button[type="submit"] {
  position: relative;
  top: 0.25rem;
  left: -2.5rem;
  width: 2rem;
  height: 2rem;
  background-image: url("../assets/images-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  flex-grow: 0;
}

button[type="submit"]:hover {
  background-color: #292b2948;
}

.chat-label {
  font-size: 3vmin;
  font-family: "Kanit";
}

#clear {
  padding: 0.5rem;
  border: 1px solid var(--secondary);
  background-color: var(--bg);
  color: var(--secondary);
  border-radius: 0.5rem;
  letter-spacing: 1px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.2s ease;
  font-weight: 200;
}

#clear:hover {
  color: var(--text);
  border-color: var(--text);
}

/* Side Bar */

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.action-bar {
  width: 20%;
  background-color: rgba(18, 18, 18, 0.767);
  flex: 0 0 auto;
}

.chat-window {
  flex: 1;
  padding: 20px;
}

.action-bar ul {
  list-style-type: none;
  padding: 0 0 0 0.3vw;
  margin: 10px;
  width: 90%;
  text-align: center;
}

.action-bar-li {
  display: flex;
  color: #ffffff;
  border-radius: 15px;
  height: 3.5vh;
  font-size: 2vmin;
  font-family: "Kanit";
  text-align: left;
  padding: 1vh 1vw 1vh 1vw;
  margin-bottom: 0.5vh;
  justify-content: space-between;
}

.action-bar-li:hover {
  background-color: #323232;
}

.chat-title {
  margin: 5vh 0 -0.5vh 2vw;
  font-size: 2vmin;
  font-family: "Kanit";
}
.new-chat {
  padding: 0.8vh 1vw 0.8vh 1vw;
  margin: 1vh 1vw 0 1vw;
  border-radius: 15px;
  font-size: 2vmin;
  font-family: "Kanit";
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-chat:hover {
  background-color: #212121;
}

.new-chat-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#new-chat-icon {
  height: 4vh;
}

#logout-btn {
  position: fixed;
  bottom: 2%;
  height: 6vh;
  width: 17.5%;
  border: 0px;
  background-color: rgba(18, 18, 18, 0.767);
  font-size: 2vmin;
  font-family: "Kanit";
  text-align: left;
  padding: 1vh 1vw 1vh 1vw;
  margin: 0 0 0 1vw;
  border-radius: 10px;
  color: white;
}

#logout-btn:hover {
  background-color: #323232;
}

#logout-text {
  display: flex;
  justify-content: left;
  gap: 2vw;
}
#logout-img {
  margin-left: 0.4vw;
  height: 3vh;
}

.bin-btn {
  height: 2.5vh;
  padding: 5px;
  /* border: 2px black solid; */
  border-radius: 5px;
}

.bin-btn:hover {
  background-color: rgba(18, 18, 18, 0.767);
}

@media (width > 500px) {
  #chat-messages {
    width: 70vw;
  }

  input {
    width: 60vw;
  }
}
