@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Kanit:wght@500&family=Kumar+One&family=Oswald:wght@200&family=Rubik+Iso&family=Titillium+Web:wght@200&family=Victor+Mono:wght@100&family=Young+Serif&display=swap');

:root {
    --bg: #292b29;
    --text: #fff;
    --accent: #00aa4a;
    --secondary: #666;
    box-sizing: border-box;
    font-size: 2vmin;

}

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button[type=submit] {
    position: relative;
    top: 0.25rem;
    left: -2.5rem;
    width: 2rem;
    height: 2rem;
    background-image: url('../assets/images-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #292b2948;
}

input {
    width: 60vw;
    padding: .75rem;
    border-radius: 15px;
    font-size: 2vmin;
    border: 0
}

#chat-messages {
    width: 70vW;
    max-height: 70vh;
    font-size: 3vmin;
    line-height: 4vmin;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    padding: 2vh 2vw 0 2vw;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chat-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 6%;
}

.input-submit {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.chat-label {
    font-size: 3vmin;
    font-family: "Kanit";
}

#clear {
  padding: 0.5rem;
  border: 1px solid var(--secondary);
  background-color: var(--bg);
  color: var(--secondary);
  border-radius: 0.5rem;
  letter-spacing: 1px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.2s ease;
}

#clear:hover {
  color: var(--text);
  border-color: var(--text)
}
